@import './colors';

.initiative {
  font-style: italic
}

.questionText {
  min-height: 3em;
  font-weight: bold;
  
}

.skipButton
 {
  line-height: 2.9em;
  clear: both;
}


.reasons {
  margin: 1em 0 3em;
  display: none;
  transition: all 1s;
  &.visible {
    display: block;
  }
}

.reasonsInRegion {
  padding: 0.5em 2em 0.3em;
  margin-bottom: 1em;
  background: #ffe;
  border-radius: 20px;

  h2 {
    font-size: 15px;
    color: #888;
  }
}

.reason {
  margin: 2em 0;
}




.questionNavigation {
  margin: 1em auto 0;
  text-align: center
}

.answerButton-yes.selected {
    background: @yes;
    color: #333;
}

.answerButton-no.selected {
    background: @no;
    color: #333;
}

.answerButton-neutral.selected {
    background: @neutral;
    color: #333;
}


