@import './question-links';
@import './menu';
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  color: #fff;
  background: #333;
  border: none;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  &.selected {
    background: #fa0;
  }
  
  transition: all 0.2s;
 
  &:hover {
    transform: scale(1.1);
  }
  
}

.linkButton {
  background: none;
  color: #44f;
  border: none;
}

.buttonGroup {
  button:not(:first-child) {
    margin-left: 10px;
  }
}

.skipButton {
  display: block;
  margin: 0 0 0 auto;
}