<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wahlomat</title>
</head>
<body class="iframe">
  <div id="app"></div>
  <script>
    var clientToken = "{{clientToken}}";
  </script>
  <script src="build/app.js"></script>
</body>
</html>
