<!DOCTYPE html>
<html lang="en">
<!-- For webpack dev server -->
<head>
  <meta charset="UTF-8">
  <title>Wahlomat</title>
</head>
<body>
  <div id="app"></div>
  <script>
    var clientToken = "{{clientToken}}";
  </script>
  <script src="/build/app.js"></script>
</body>
</html>
